.header-button {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-button-style {
  width: 96.84px;
  height: 31.35px;
  background: #caa892;
  border-radius: 15px 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  &:hover {
    background: #97765d;
  }
}

.moder-inerior-button {
  margin-top: 30px;
  width: 149.06px;
  height: 47.36px;
  background: #37806b;
  border-radius: 20px 0px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  border: 0;
}
