.header-button {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-button-style {
  width: 96.84px;
  height: 31.35px;
  background: #caa892;
  border-radius: 15px 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  &:hover {
    background: #97765d;
  }
}

.moder-inerior-button {
  margin-top: 30px;
  width: 149.06px;
  height: 47.36px;
  background: #37806b;
  border-radius: 20px 0px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  margin-bottom: 30px;
  @include _979 {
    margin: 50px 20px;
    padding: 0;
    }
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #2d725e;
  }
  &:active {
    background: #ffffff;
    color: #37806b;
    border: 5px solid #37806b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px;
  }
}

.what-we-do-but {
  width: 206.67px;
  min-width: 106.67px;
  height: 46.04px;
  background: #37806b;
  border-radius: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #2d725e;
  }
  @include _600 {  
    margin-top: 15px;
    }
}

.active {
  width: 206.67px;
  min-width: 106.67px;
  height: 46.04px;
  background: #ffffff;
  color: #37806b;
  border: 5px solid #37806b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
  }
  @include _600 {
    
    margin-top: 15px;
    }
}

.blog-button{
  margin-top: 30px;
  width: 50%;
  height: 47.36px;
  background: #37806b;
  border-radius: 20px 0px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #2d725e;
  }
  &:active {
    background: #ffffff;
    color: #37806b;
    border: 5px solid #37806b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px;
  }
}