.blog {
  background: var(--seccessfulyDone-bg);
  padding-top: 80px;
  padding-bottom: 250px;
}

.blog__wrap {
  section {
    text-align: center;
    @include pre-title;
    color: var(--pre-title-color);
  }
  h2 {
    text-align: center;
    @include title;
    color: var(--title-color);
    margin-bottom: 82px;
  }
}

.blog__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include _1170 {
  flex-wrap: wrap;
  }
}

.blog__left-section {
  width: 609.86px;
  transition: 0.1s;
  div {
    position: relative;
    width: 554px;
    height: 387px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100px 0px;
    }
    div {
      position: absolute;
      top: 18px;
      left: 16px;
      width: 100%;
      height: 100%;
      border: 2px solid #b0855b;
      border-radius: 100px 0px;
      z-index: -1;
    }
  }
  h5 {
    color: var(--pre-title-color);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    text-align: start;
  }
  p {
    @include description;
    color: var(--description-color);
  }
  &:hover img {
    transform: scale scale(1.1);
  }
  &:hover img {
    transform: scale(1.1);
  }
}

.blog__right-section {
  width: 609.86px;
  height: auto;
  transition: 0.2s;
  @include _1170 {
    margin-top: 50px;
    }
  div {
    position: relative;
    width: 554px;
    height: 387px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100px 0px;
    }
    div {
      position: absolute;
      top: 18px;
      left: 16px;
      width: 100%;
      height: 100%;
      border: 2px solid #b0855b;
      border-radius: 100px 0px;
      z-index: -1;
    }
  }
  h5 {
    color: var(--pre-title-color);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    text-align: start;
  }
  p {
    @include description;
    color: var(--description-color);
  }
  &:hover img {
    transform: scale(1.1);
  }
}
