// colors
@mixin Open-Sans-Bold {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #212121;
}

@mixin pre-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
}

@mixin title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 78px;
}

@mixin description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

@mixin card-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

@mixin card-description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
}

html[data-theme='dark'] {
  --button-text-color: #ffffff;
  --bg-card-color: #3c463ba6; 
  --seccessfulyDone: #3c463b; 
  --title-color: #ffffff;
  --description-color: #ffffff;
  --pre-title-color: #ffffff;
  --background-color: #000000da;
  --seccessfulyDone-bg: #201616da;
}

html[data-theme='light'] {
  --button-text-color: rgba(17, 17, 17, 1);
  --bg-card-color: #ffffff;
  --seccessfulyDone: #ffffff;
  --description-color: #646464;
  --title-color: #212121;
  --pre-title-color: #646464;
  --background-color: #ffffff;
  --seccessfulyDone-bg: #f8f8f8;
}



@mixin _1366 {
  @media (max-width: 1366px){
      @content;
  }
}

@mixin _1250 {
  @media (max-width: 1250px){
      @content;
  }
}

@mixin _1170 {
  @media (max-width: 1170px){
      @content;
  }
}


@mixin _1024 {
  @media (max-width: 1024px){
      @content;
  }
}


@mixin _979 {
  @media (max-width: 979px){
      @content;
  }
}
@mixin _768 {
  @media (max-width: 768px){
      @content;
  }
}
@mixin _600 {
  @media (max-width: 600px){
      @content;
  }
}
@mixin _480 {
  @media (max-width: 480px){
      @content;
  }
}
@mixin _350{
  @media (max-width: 350px){
      @content;
  }
}

@mixin _479{
  @media (max-width: 480px){
    @content;
  }
}