// colors
@mixin Open-Sans-Bold {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #212121;
}

@mixin pre-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;  
  
}

@mixin description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;  
}

html[data-theme='dark'] {
  --button-text-color: #ffffff;
  --button-background-color: #4e005c;
  --button-border-color: #ba8fc2;

  


  --description-color: #ffffff;
  --title-color: #ffffff;
  --pre-title-color: #ffffff;
  --background-color: #000000da;
}

html[data-theme='light'] {
  --button-text-color: rgba(17, 17, 17, 1);
  --button-background-color: #f9d4ff;
  --button-border-color: #4e005c;


 
  --title-color: #212121;
  --pre-title-color: #646464;
  --background-color: #ffffff;  
}